body {
    background: url('https://media.tenor.com/fi41r0mn_5sAAAAe/happy-birthday-happy-birthday-to-you.png');
    background-repeat: no-repeat;
    background-size: cover;

  }

  .heading{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: black;
  }

  .input{
      display: flex;
      justify-content: center;
      margin-top: 1.5%;
      height: 30px;
      color: black;
      text-size-adjust: 50px;
      font-size: 1px;
      
  }
  
  .cake {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 50%;
    left: 46%;
    margin-top: -70px;
    margin-left: -125px;
  }
  
  .plate {
    width: 370px;
    height: 110px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 0 #b3b3b3, 0 4px 0 #b3b3b3, 0 5px 40px rgba(0, 0, 0, 0.5);
  }
  
  .cake > * {
    position: absolute;
  }
  
  .layer {
    position: absolute;
    display: block;
    width: 350px;
    height: 100px;
    border-radius: 50%;
    background-color: #bd8a47;
    box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b, 0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b, 0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a, 0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09, 0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09;
  }
  
  .layer-top {
    top: 0px;
  }
  
  .layer-middle {
    top: 33px;
  }
  
  .layer-bottom {
    top: 66px;
  }
  
  .icing {
    top: 2px;
    left: 5px;
    background-color: #eddab9;
    width: 340px;
    height: 90px;
    border-radius: 50%;
  }
  .icing:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: #e9d8bc;
    box-shadow: 0 0 4px #f6efe3, 0 0 4px #f6efe3, 0 0 4px #f6efe3;
    border-radius: 50%;
    z-index: 1;
  }
  
  .drip {
    display: block;
    width: 50px;
    height: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #e9d8bc;
  }
  
  .drip1 {
    top: 53px;
    left: 5px;
    transform: skewY(15deg);
    height: 48px;
    width: 40px;
  }
  
  .drip2 {
    top: 69px;
    left: 181px;
    transform: skewY(-15deg);
  }
  
  .drip3 {
    top: 54px;
    left: 90px;
    width: 80px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  
  .candle {
    position: absolute;
    background:linear-gradient(25deg ,rgb(229, 32, 32) 10% , white 20% , rgb(229, 32, 32)30%, white 40% , rgb(229, 32, 32)50% , white 60% , rgb(229, 32, 32)70% , white 80% , rgb(229, 32, 32)100%);
    width: 16px;
    height: 50px;
    border-radius: 8px/4px;
    /* top: -45px; */
    /* left: 90px; */
    /* margin-left: -18px; */
    z-index: 10;
  }
  .candle:before, .candle:after {
    content: '';
    position: absolute;
    top:-10px;
    left: 40%;
    width: 3px;
    height: 15px;
    border-radius: 20%;
    background-color: grey;
    /* z-index: 99; */
  }
  
  .flame {
    position: absolute;
    background-color: orange;
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px/25px 25px 10px 10px;
    top: -38px;
    /* left: 90px; */
    /* margin-left: -7.5px; */
    z-index: 50;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out alternate infinite;
  }
  
  @keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
    }
    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    }
    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
    }
    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
    }
    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    }
  }